asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
autoenv==1.0.0
cffi==1.11.5
Click==7.0
cryptography==2.4.2
DateTime==4.3
Flask==1.0.2
Flask-API==1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
jwt==0.5.4
MarkupSafe==1.1.0
more-itertools==5.0.0
pluggy==0.8.0
psycopg2==2.7.6.1
py==1.7.0
pycparser==2.19
pytest==4.0.2
pytz==2018.7
six==1.12.0
Werkzeug==0.14.1
zope.interface==4.6.0
