<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>StackOverflow-lite | Home</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <img class= "avatar" src="../static/logo.png" alt="coming soon">
          <h1>StackOverflow</h1>
        </div>
        <nav>
          <ul>
            <li class= "login-button"><a href="login.html"><button type="button" name="Login"></button></a></li>
            <li><a href="about.html">About us</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section>
      <div class="container">
        <h1>Top Questions</h1>
        <p><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit?</a></p>
        <p><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit?</a></p>
        <p><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit?</a></p>
        <p><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit?</a></p>
        <p><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit?</a></p>
        <p><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit?</a></p>
        <p><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit?</a></p>
      </div>
    </section>

    <footer>
      <p id="footer">StackOverflow-lite &copy:2018</p>
    </footer>
  </body>
  </html>
