<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>StackOverflow-lite | Home</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <img class= "avatar" src="../static/index.jpg" alt="coming soon">
          <h1>StackOverflow-lite</h1>
        </div>
        <nav>
          <ul>
            <li><a href="login.html"><button class= "login-button" type="button" name="Login">Login</button></a></li>
            <li><a href="about.html">About us</a></li>
          </ul>
        </nav>
      </div>
    </header>
