<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>StackOverflow-lite | Home</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <a href="homepage.html"><img class= "avatar" src="../static/index.jpg" alt="coming soon"></a>
          <h1>StackOverflow-lite</h1>
        </div>
        <nav>
          <ul>
            <li><a href="login.html"><button class= "login-button" type="button" name="Login">Login</button></a></li>
            <li><a href="about.html">About us</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="loginbox">
      <div class="container">
        <form class="" action="" method="post">
          <p>Email</p> <br>
          <input type="email" name="" placeholder="Enter email.." value=""><br>
          <p>Password</p> <br>
          <input type="password" name="" placeholder="Enter password.." value=""><br>
          <input type="submit" name="" value="Submit">
          <p id="prompt">Don't have an account? <a href="signup.html">Sign up</a></p>
        </form>
      </div>
    </section>

    <footer>
      <p>StackOverflow-lite &copy:2018</p>
    </footer>

  </body>
</html>
