<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>StackOverflow-lite | Question</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <a href="homepage.html"><img class= "avatar" src="../static/index.jpg" alt="coming soon"></a>
          <h1>StackOverflow-lite</h1>
        </div>
        <nav>
          <ul>
            <li><a href="login.html"><button class= "login-button" type="button" name="Login">Login</button></a></li>
            <li><a href="about.html">About us</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class= "ask_qn">
      <div class="container">
        <h2>Ask a question</h2>
        <p>Title</p>
        <input type="text" name="" value="" placeholder="What's your programming question? Be specific.">
        <p>Body</p>
        <textarea name="Qn" rows="8" cols="80"></textarea>
        <p>Tags</p>
        <input type="text" name="" value="" placeholder="E.g Database, Python3, Sqlite, Git"><br>
        <a href="#"><button type="button" name="button">Post your question</button></a>
      </div>
    </section>




    <footer>
      <p>StackOverflow-lite &copy:2018</p>
    </footer>
  </body>
  </html>
