<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>StackOverflow-lite </title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <a href="homepage.html"><img class= "avatar" src="../static/index.jpg" alt="coming soon"></a>
          <h1>StackOverflow-lite</h1>
        </div>

        <nav>
          <ul>
            <li><a href="homepage.html"><button class= "login-button" type="button" name="Logout">Logout</button></a></li>
            <li><a href="about.html">About us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <h1 class="top">Your questions</h1>

      <section class="my_questions">
        <div >
          <div class="post-text" itemprop="text">
            <span class= "date">Posted on: 20th Jan 2018</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <a href="#"><button class="delete-button" type="button" name="Delete">Delete</button></a>
          <a href="#"><span>View answers</span></a>
        </div>
      </section>

      <section class="my_questions">
        <div >
          <div class="post-text" itemprop="text">
            <span class= "date">Posted on: 10th May 2018</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <a href="#"><button class="delete-button" type="button" name="Delete">Delete</button></a>
          <a href="#"><span>View answers</span></a>
        </div>
      </section>

      <section class="my_questions">
        <div >
          <div class="post-text" itemprop="text">
            <span class= "date">Posted on: 15th July 2018</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <a href="#"><button class="delete-button" type="button" name="Delete">Delete</button></a>
          <a href="#"><span>View answers</span></a>
        </div>
      </section>

    </div>
    <div class="push"></div>
    <footer>
      <p>StackOverflow-lite &copy:2018</p>
    </footer>
  </body>
</html>
